body {
	margin: 0;
	padding: 0;
	background: linear-gradient(180deg, var(--main-color), rgb(255,255,255) 80%);
	font-family: "Anthropocene";
}

.wait_page_loading {
	visibility: hidden;
}

.show {
	visibility: visible !important;
}
h1 {
	font-size: 1.3em;
    font-style: italic;
}
b {
	text-decoration: underline;
	font-weight: initial;
}
a {
	text-decoration: underline;
	color: black;
}
a:hover {
	cursor: pointer;
}
.spin {
	-webkit-animation:spin 11s linear infinite;
    -moz-animation:spin 11s linear infinite;
    animation:spin 11s linear infinite;
	transform-origin: 50% 50%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/* 0-300 */

/******************************/
/* SEZIONE CONTENITORE PAGINE */
/******************************/

.main-container {
	width: 100vw;
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  	height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.content {
	padding: 12px;
	overflow: auto;
	height: calc(100vh - var(--menu-height));
}



/************/
/* SHOWCASE */
/************/


.entries-container {
	width: 100%;
	height: 100%;
	display: grid;
	flex-wrap: wrap;
	justify-content: space-around;
	grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-auto-rows: 400px;
    grid-gap: 40px;
}

.entry {
	height: 100%;
    width: 100%;
	display: grid;
    grid-auto-rows: 30px auto 30px;
}

.entry-header {
	display: flex;
    justify-content: space-between;
}

.entry-body {
	background-color: white;
	border: 1px solid black;
	height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.entry-body:hover {
	cursor: pointer;
}

.entry-footer {
	display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.entry-viewer {
	width: 100vw;
    height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--main-color);
    display: none;
    grid-template-columns: 85% 15%;
    grid-template-rows: 50px 90px auto 50px;
    box-sizing: border-box;
    padding: 30px;
}

.entry-view-index-number {
	font-size: 1.5em;
}

.entry-view-close {
	display: flex;
	justify-content: flex-end;
	font-size: 2em;
}

.entry-close-button:hover {
	cursor: pointer;
}

.entry-view-main-text {
	font-size: 1.5em;
	grid-column-start: 0;
	grid-column-start: 1;
}

.entry-view-slideshow {
	display: grid;
	justify-content: center;
	grid-template-columns: 50px minmax(100px, 250px) 50px;
	grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.entry-arrow-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
}

.entry-arrow:hover {
	cursor: pointer;
}

.entry-slideshow {
	border: 1px solid black;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.entry-view-date-container {
	font-size: 1.5em;
    display: flex;
    align-items: flex-end;
    grid-row-start: 4;
    grid-column-start: 1;
}


/**********/
/* SUBMIT */
/**********/

.submit-container {
	display: grid;
	grid-template-rows: 100px auto;
	font-size: 1.5em;
}

.submit-main-text {
	font-size: 1em;
}

.submit-container-body {
	display: grid;
	grid-template-columns: 100px auto;
	grid-template-rows: 75px 75px 75px 75px;
}

.submit-main-text {
	
}

.custom-file-upload {
	text-decoration: underline;
}

.custom-file-upload:hover {
	cursor: pointer;
}

.submit-button {
	font-size: 1em;
	text-decoration: underline;
}

.submit-button:hover {
	cursor: pointer;
}

input {
	box-shadow: none;
    outline: none;
	border: none;
	background-color: transparent;
	border-bottom: 3px solid black;
	font-size: 1em;
	width: 60%;
    height: 25%;
}


/************/
/* DOWNLOAD */
/************/

.download-container {

	height: 100%;
	font-size: 1.2em;
}

.download-button {
    width: 100%;
    font-size: 1em;
    border: 1px solid black;
    background-color: transparent;
    align-self: flex-end;
    position: fixed;
    bottom: 15%;
    left: 0;
    text-align: center;
}

.download-button:hover {
	cursor: pointer;
}



/********/
/* MENU */
/********/

.menu {
	display: flex;
	align-items: center;
	margin-top: 10px;
	background-color: white;

}

.menu-links {
	flex: 4;
    display: flex;
    justify-content: center;
}

.links-wrapper {
	height: 100%;
    display: flex;
    font-size: 1.2em;
    align-self: flex-end;
    flex-direction: column;
    align-items: flex-start;
	justify-content: space-between;
}

.link {
	vertical-align: text-bottom;
	box-sizing: border-box;
}

.link:hover {
	cursor: pointer;
}

.menu-smile {
	z-index: -99;

    height: 100%;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    opacity: 20%;
}

svg {
	float: right;
}

.main-text {
	font-size: 1.2em;
	height: 100%;
	width: 100%;
}
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000; background-color: var(--main-color);    }
    49%{    color: #000; background-color: var(--main-color); }
    60%{    color: var(--main-color); background-color:white; }
    99%{    color:var(--main-color);  background-color:white;}
    100%{   color: #000;  background-color: var(--main-color);  }
}

.menu-info {
	display: flex;
	justify-content: center;
	flex: 4;
}

.info-container {
	
}
.info-container-values {
	display: none;
}
.about-container {
	font-size: 1.2em;
}
.code-container {
	padding: 15px;
	border: 1px solid;
}
.get-started-container {
	width: 100%;
	font-size: 1.2em;
}

.typeface-container {
	padding: 10px;
	border: 1px solid;
}