@font-face {
    font-family: "a-bold";
    src: url("../cdn/fonts/Anthropocene-1.otf");
}

@font-face {
    font-family: "a-thin";
    src: url("../cdn/fonts/Anthropocene-100.otf");
}
html {
    cursor: url("../img/cursor.png"), auto;
}
body {
   
    margin: 0;
    padding: 0;
    background: /*linear-gradient(180deg, var(--main-color), rgb(255,255,255) 80%);*/
    var(--main-color);
    font-family: "a-bold";
    color: white;
}

.wait_page_loading {
    visibility: hidden;
}

.show {
    visibility: visible !important;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
    font-family: "a-thin";
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-size: 2em;
    font-family: "a-thin";
}

b {
    text-decoration: underline;
    font-weight: initial;
}

a {
    text-decoration: underline;
    color: yellow;
}

a:hover {
    cursor: url("../img/cursor_hover.png"), auto;
    ;
}

.spin {
    -webkit-animation: spin 11s linear infinite;
    -moz-animation: spin 11s linear infinite;
    animation: spin 11s linear infinite;
    transform-origin: 50% 50%;
}

.padding-bottom {
    padding-bottom: 5%;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* 0-300 */


/******************************/


/* SEZIONE CONTENITORE PAGINE */


/******************************/

.main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 270px auto;
    overflow: hidden;
}

.content {
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    background: var(--main-color);
}

.content::-webkit-scrollbar {
    display: none;
}

.a-bold {
    font-family: "a-bold";
    flex: 1;
    text-align: center;
    font-size: 50vw;
    margin: -100px;
}
.a-bold p {
    margin:0;
}
.a-thin {
    font-family: "a-thin";
    flex: 1;
    text-align: center;
    font-size: 50vw;
    margin: -100px;
}
.a-thin p {
    margin:0;
}
.a-container {
    display: flex;
    padding-bottom: 50px;
}


/************/


/* SHOWCASE */


/************/

.entries-container {
    width: 100%;
    height: 100%;
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
    grid-auto-rows: 430px;
    grid-gap: 40px;
}

.entry {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-rows: 30px auto 30px;
}

.entry-header {
    display: flex;
    justify-content: space-between;
}

.entry-body {
    background-color: white;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.entry-body:hover {
    cursor: url("../img/cursor_hover.png"), auto;
    ;
}

.entry-footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.entry-viewer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--main-color);
    display: none;
    grid-template-columns: auto auto;
    grid-template-rows: 100px auto 100px;
    box-sizing: border-box;
    padding: 30px;
}

.entry-view-index-number {
    font-size: 2em;
}

.entry-view-close {
    display: flex;
    justify-content: flex-end;
    font-size: 4em;
}

.entry-close-button:hover {
    cursor: url("../img/cursor_hover.png"), auto;
    ;
}

.entry-view-main-text {
    font-size: 2em;
}

.entry-view-slideshow {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px minmax(300px, 400px) 100px;
}

.entry-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.entry-arrow:hover {
    cursor: url("../img/cursor_hover.png"), auto;
    ;
}

.entry-slideshow {
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.entry-view-date-container {
    font-size: 2em;
    display: flex;
    align-items: flex-end;
}


/**********/


/* SUBMIT */


/**********/

.submit-container {
    display: grid;
    grid-template-rows: 150px auto;
    font-size: 2.5em;
}

.submit-main-text {
    font-size: 1.25em;
}

.submit-container-body {
    display: grid;
    grid-template-columns: 140px auto;
    grid-template-rows: 75px 75px 75px 75px;
}

.submit-main-text {}

.custom-file-upload {
    text-decoration: underline;
}

.custom-file-upload:hover {
    cursor: url("../img/cursor_hover.png"), auto;
    ;
}

.submit-button {
    font-size: 1.5em;
    text-decoration: underline;
}

.submit-button:hover {
    cursor: url("../img/cursor_hover.png"), auto;
    ;
}




/************/


/* DOWNLOAD */


/************/

.download-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
    padding-bottom: 10%;
}

.download-button {
    padding:5px;
    text-align: center;
    width: 300px;
    font-size: 1em;
    border: 1px solid black;
    background-color: transparent;
    position: fixed;
    top: 10px;
    right: 20px;
    border-radius: 15px;
}

.download-button:hover {
    cursor: url("../img/cursor_hover.png"), auto;
    ;
}

.font-playground {
    display: flex;
    flex-direction: column;
}

#font-tryout{
    flex: 1;
    background-color: #0b24fb;
    border-radius: 15px;
    border: none;
    border-bottom: 2px solid white;
    font-family: "a-bold";
    font-size: 2em;
    outline: none;
    resize: none;
    color: white;
    margin-bottom: 40px;
    transition: all .5s;
    padding: 35px;
    line-height: 1;
}

.font-playground-commands {
    display: flex;
    flex-direction: column;
}
.font-playground-size-range{
    flex: 1;
}
.font-playground-size-range[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    margin:20px 0;
}
  
  .font-playground-size-range[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  .font-playground-size-range[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  .font-playground-size-range[type=range]::-ms-track {
    width: 100%;
    cursor: url("../img/cursor_hover.png"), auto;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

/* Special styling for WebKit/Blink */
.font-playground-size-range[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;

    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #ffffff;
    cursor: url("../img/cursor_hover.png"), auto;
    margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for Firefox */
  .font-playground-size-range[type=range]::-moz-range-thumb {

    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #ffffff;
    cursor: url("../img/cursor_hover.png"), auto;
  }
  
  /* All the same stuff for IE */
  .font-playground-size-range[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #ffffff;
    cursor: url("../img/cursor_hover.png"), auto;
  }

  .font-playground-size-range[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.4px;
    cursor: url("../img/cursor_hover.png"), auto;
    background: white;
    border-radius: 1.3px;
  }
  
  .font-playground-size-range[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
  }
  
  .font-playground-size-range[type=range]::-moz-range-track {
    width: 100%;
    height: 2.4px;
    cursor: url("../img/cursor_hover.png"), auto;
    background: #3071a9;
    border-radius: 1.3px;
  }
  
  .font-playground-size-range[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: url("../img/cursor_hover.png"), auto;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  .font-playground-size-range[type=range]::-ms-fill-lower {
    background: white;
    border-radius: 2.6px;
  }
  .font-playground-size-range[type=range]:focus::-ms-fill-lower {
    background: white;
  }
  .font-playground-size-range[type=range]::-ms-fill-upper {
    background: white;
    border-radius: 2.6px;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }


.font-playground-weight-selector{
    flex:1;
    display: flex;
    text-align: center;
}
.font-playground-weight-selector>label{
    flex:1;
    border: 3px solid #ffffff00;
    border-radius: 15px;
    margin:5px;
}
.font-playground-bg-select{
    flex: 1;
    display: flex;
}

.font-playground-bg-select div{
    flex: 1;
    text-align: center;
    border-radius: 15px;
    margin:5px;
}
.white-background {
    background-color: white;
    color: black;
}
.black-background {
    background-color: black;
    color: white;
    
}
.blue-background {
    background-color: #0b24fb;
    color: white;
    border: 3px solid;
}



/********/


/* MENU */


/********/

#resp-menu-toggler {
    display: none;
}

#sky-resp {
    display: none;
}

#sky {
    z-index: -99;
    position: absolute;
    object-fit: fill;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    border-right: 5px white solid;
}

.menu-links {
    flex: 3;
    margin-top: 20px;
    margin-right: 20px;
}

.links-wrapper {
    display: flex;
    font-size: 1.5em;
    align-self: flex-end;
    flex-direction: column;
    /*transform: rotate(180deg);*/
}

.link {
    position: relative;
}

.link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.active::before {
    visibility: visible;
    width: 100%;
}

.link:hover:before {
    visibility: visible;
    width: 100%;
}

.link {
    margin: 0px 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    /*writing-mode: vertical-rl;
    text-orientation: mixed;
	vertical-align: text-bottom;
	box-sizing: border-box;*/
}

.link:hover {
    cursor: url("../img/cursor_hover.png"), auto;
    ;
}

.menu-smile>svg:hover {
    cursor: url("../img/cursor_hover.png"), auto;
    ;
}

.menu-smile {
    width: 50%;
    flex: 2;
    margin: 0 37.5%;
}

svg {
    float: right;
}

.main-text {
    font-size: 2em;
    width: 80%;
    margin: 0 auto;
}

.menu-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 2;
    margin-left: 10px;
    width: 80%;
    align-self: flex-start;
}

.info-container-values {
    display: flex;
    flex-direction: column;
    font-family: "a-thin";
}
.tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
.info-container-values:hover .tooltiptext {
    visibility: visible;
  }
.info-container-values div {
    margin: 5px 0;
    cursor: url("../img/cursor.png"), auto;
}

#aqi {
    border-bottom: 1px solid;
    font-size: 1em;
}

.info-container-values>div {
    display: flex;
    margin-bottom: 3px;
}

.info-container-values>div>div {
    flex: 1;
}

.blinking {
    animation: blinkingText 1s infinite;
}

@keyframes blinkingText {
    0% {
        color: yellow;
        background-color: var(--main-color);
    }
    49% {
        color: yellow;
        background-color: var(--main-color);
    }
    60% {
        color: var(--main-color);
        background-color: white;
    }
    99% {
        color: var(--main-color);
        background-color: white;
    }
    100% {
        color: yellow;
        background-color: var(--main-color);
    }
}

.info-container {}

.about-container {
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
}
.logo-container {
    padding-top: 5%;
    border-top: 2px solid;
    display: flex;
    align-items: center;
}
.logo-container div {
    flex: 1;
    text-align: right;
    padding: 5px;
}
.logo-container div img {
    width: 50%;
}
.logo-container p {
    margin: 15px;
    font-size: .4em;
    text-align: left;
}

.code-container {
    padding: 15px;
    border-radius:15px;
    border: 1px solid;
}

.get-started-container {
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
}
.typeface-container-block {
    display: flex;

}
.typeface-container {
    flex: 1;
    font-size: 3vw;
    text-align: center;
    padding: 10px;
}


/************/


/* DOWNLOAD */


/************/

.concept-container {
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
}
.font-explainer {
    display: flex;
}
.font-explainer div {
    text-align: center;
    flex: 1;
    border: 1px solid white;
    border-radius: 15px;
    margin: 0 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.font-explainer div p{
    flex:1;
}
.a-bold-concept {
    font-family: "a-bold";
    font-size: 5em;
    flex: 1;
}

.a-thin-concept {
    font-size: 5em;
    font-family: "a-thin";
    flex: 1;
}

.font-explainer-line {
    display: flex;
    flex-direction: column;
    border-radius: 15px;

}


.font-explainer-top {
    flex: 1;
    display: flex;
    margin: 0 20px;
}
.font-explainer-top span {
    flex: 1;
    font-size: 6em;
}

.font-explainer-bottom {
    align-items: center;
    display: flex;
    flex: 1;
    margin-bottom: 7%;
    margin-top:-5%;
}
.font-explainer-bottom .line {
    margin-left: -25px;
}
.download-section {
    display: flex;
}
.download-box {
    flex: 1;
    text-align: center;
    border: 3px solid;
    margin: 5px;
    transition: all .5s;
    border-radius: 15px;
}

.download-box:hover {
    background-color: yellow;
    color: black;
    border: 3px solid black;
}

.download-box, .download-box *:hover {
    cursor: url("../img/cursor_hover.png"), auto !important;
}
.download-box .cover {
    font-size: 3em;
}
.download-box>p {
    padding-bottom: 10%;
}
.download-section  a {
    color: white;
    flex: 1;
    text-decoration: none;
    transition: all .5s;
}

.download-box .cover {
    cursor: url("../img/cursor_hover.png"), auto !important;
}
.download-box p {
    margin: 0;
    cursor: url("../img/cursor_hover.png"), auto !important;
}
.download-bold {
    font-family: "a-bold";
    flex:1;
}
.download-thin {
    font-family: "a-thin";
    flex:1;
}
.download-aqi {
    font-family: "Anthropocene";
    flex:1;
}